graphql-core>=2.0.dev
graphene>=2.0.dev
graphene-sqlalchemy>=2.0.dev
Flask
# Flask-SQLAlchemy
Flask-GraphQL
# Flask-Security
Flask-Admin
bcrypt
PyJWT
SQLAlchemy-Continuum
Flask-Alembic
psycopg2
Marshmallow-SQLAlchemy
colour

git+https://github.com/singingwolfboy/flask-sqlalchemy.git@cli#egg=Flask-SQLAlchemy
git+https://github.com/singingwolfboy/flask-security.git@username-identity#egg=Flask-Security
